html, body
{
	   margin: 0px;
    padding: 0px;
    height:100%;

    background-image: url('/assets/images/sitebackdrop-b05e7b75daeef4171b978dd3e79ef58b.jpg');
    background-size:cover;
    background: #222222;
    font-family:sans-serif;
}

a:link {
    
}

/* visited link */
a:visited {
    
}

/* mouse over link */
a:hover {
    
}

/* selected link */
a:active {
    
}

#three_options
{
  box-shadow: 1px 1px 1px #111111;
  background:red; 
}
#container
{
	min-height: 100%;
	margin: auto;
	position: relative;
	padding-bottom:4em;
}

h2 {
  margin-top:0.3em;
  margin-bottom:0em;
}

#masthead
{
  margin-top:-2em;
  margin-bottom:0em;
  text-align: right;
}

header
{
    height:4em;
    background:#DDDDDD;
    box-shadow: 1px 1px 1px #111111;
    
    padding:0.3em 1em 0em 5em;
}

#rails-data {
  /*display: none;*/
}

article
{
    background:#DDDDDD;
    padding: 1em 2em 2em 2em;
    margin:auto;
    margin-top:1.5em;
    margin-bottom:2.5em;
    width:60em;
    box-shadow: 1px 1px 1px #111111;
}
content
{
    background:green;
    width:100%;
    height:100%;
}

canvas
{
    display:none;
    margin:auto;
    width:800px;
    height:600px;
    background: #000000;
}

footer
{
   text-align: center;
   display:none;
  width:100%;
  height:150px;
  position:absolute;
  bottom:0;
  left:0;

   background:#DDDDDD;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

