<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" media="only screen and (max-width: 820px)" href="css/shrunk.css" />
    <link rel="stylesheet" media="only screen and (max-width: 520px)" href="css/mobile.css" />
    
	<title>You Carry It</title>
    
    <script src="js/three.min.js"></script>
</head>

<body>
    
	<div id="container">
		
		<header>
            <h1>You Carry It</h1>
            <nav>
                <a href=""><h3>Some Link</h3></a>
            </nav>
            
        </header>
        
                
        <article>
            <h3>You Carry It</h3>
            <div id="game"></div>
            <script src="js/game.js"></script>
            
        </article>
       
       
		<footer>
			<p>Copyright 201x Lville Dream Team -- All rights reserved</p>
		</footer>
	</div>
</body>
</html>