<!DOCTYPE html>
<html lang="en">

<article>
<p><b>Twitter stream:</b></p>

<% @statuses.each do |status| %>
<p><%= status %></p>
<% end %>

<p><b>Indico analysis:</b></p>

<canvas id="canvasGame"></canvas>
<%= javascript_include_tag "canvasgame", "data-turbolinks-track" => true %>

</article>
       
</html>