<%#= render partial: 'posts/updateSocial', object: @user.posts.last, as: :post %>

<div id = "rails-data">
<% for i in 0..(@tweet_limit-1) %>
<%= @sentiments[i].to_s %>, 
<%= @statuses[i].to_s %>, 
<% end %>
</div>